h1
{
    background-color: blue;
    border:5px solid red;
}
h2
{
    background-color: white;
    border: 5px solid orange;
}
h3
{
    background-color: green;
    border: 5px solid white;
}
*
{
    box-sizing: border-box;
    font-size: 45px;
}